.list-center{width:1180px;height:2743px;margin:0 auto;}
.list-left,.list-right{float:left;}
.list-left{width:200px;height:2743px;margin-right:20px}
.list-kinds{width:198px;min-height:100px;height:auto!important;height:100px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:15px;}
.list-kinds:after{content:".";height:0;clear:both;display:block;overflow:hidden;visibility:hidden;}
.list-kinds>li{width:188px;padding-left:10px;line-height:32px;cursor:pointer;color:#666;font-weight:bold;border-top:1px solid #ccc;border-right:1px solid #ccc;background:url(../img/i_arrow_dl.png) no-repeat 180px 12px;}
.inner-list{display:none;border-top:1px solid #ccc;}
.inner-list>li{padding-left:20px;}
.inner-list li a{font-size:12px;font-weight:0;}
.inner-list li a:hover{color:#FF3300;text-decoration:none;}
.hot-list{width:198px;height:1712px;border-left:1px solid #e5e5e5;border-bottom:1px solid #ccc;}
.hot-list p{height:35px;line-height:35px;font-size:16px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;padding-left:10px;}
.list-right{width:960px;min-height:100px;height:auto!important;height:100px;}
.list-left:after{content:".";height:0;clear:both;display:block;overflow:hidden;visibility:hidden;}
.list-feature{height:193px;border-top:2px solid #ccc;}
.list-brand li{height:39px;line-height:39px;border-bottom:1px dashed #ccc;}
.list-brand li span{float:left;width:58px;text-align:center;font-weight:900;color:#a2a2a2;}
.list-brand li strong{float:left;padding-right:60px;color:#666;}
.list-select{width:938px;height:81px;border:1px solid #ccc;margin:10px 0 20px 0;padding:0 10px;}
.list-select li{height:40px;line-height:40px;border-bottom:1px dashed #ccc;}
.list-select li span{float:left;width:58px;font-weight:900;color:#a2a2a2;}
.list-select li strong{float:left;padding-right:60px;color:#666;}
.list-origan{min-height:100px;height:auto!important;height:100px;}
.list-origan:after{content:".";height:0;clear:both;display:block;overflow:hidden;visibility:hidden;}
.list-vegs{float:left;width:210px;height:353px;border:1px solid #ccc;padding:10px;margin-right:8px;margin-bottom:20px;}
.list-vegs dt>img{width:210px;height:210px;margin-bottom:10px;} 
.list-vegs dd>a{display:block;height:50px;line-height:20px;}
.list-vegs dd>a>i{color:#FF3300;}
.list-vegs dd>span{float:left;width:210px;height:30px;font-weight:900;color:#FF3300;font-size:16px;text-indengt:6px;}
.list-vegs dd strong{height:20px;line-height:20px;}
.list-vegs dd strong i{float:left;}
.list-vegs dd strong span{float:right;}
.list-vegs dd p{clear:both;float:left;width:92px;height:22px;cursor:pointer;line-height:22px;border:1px solid #ccc;text-indent:25px;background:url(../img/i_cart_l.png) no-repeat 5px center;margin:10px 0 0 60px; }
.list-vegs dd p:hover{background:#ff3300 url(../img/i_cart_h.png) no-repeat 5px center;margin:10px 0 0 60px;text-decoration:none;color:#fff;}
